<p id="data">Data: {{weatherData}}</p>
<p id="temperature">Temperature: {{temp}}</p>
<p>Name: {{name}}</p>
<p>Country: {{country}}</p>
<p>Main: {{main}}</p>
<p>Description: {{description}}</p>
<p>Longitude: {{longitude}}</p>
<p>Latitude: {{latitude}}</p>
<p>Base: {{base}}</p>
<p>Clouds: {{clouds}}</p>